@mixin transition($speed) {
	-webkit-transition: all $speed;
	-o-transition: all $speed;
	transition: all $speed;
}

@mixin transitionEase($speed) {
	-webkit-transition: all $speed ease-in-out;
	-o-transition: all $speed ease-in-out;
	transition: all $speed ease-in-out;
}

@mixin transform($config) {
	-webkit-transform: $config;
	-ms-transform: $config;
	-o-transform: $config;
	transform: $config;
}

@mixin centerX() {
	@include transform(translateX(-50%));
	position: absolute;
	left: 50%;
}

@mixin centerY() {
	@include transform(translateY(-50%));
	position: absolute;
	top: 50%;
}

@mixin centerXY() {
	@include transform(translate(-50%, -50%));
	position: absolute;
	top: 50%;
	left: 50%;
}

@mixin shadow($config) {
	-webkit-box-shadow: $config;
	box-shadow: $config;
}