.carousel {
	overflow: hidden;
}

.carousel-item {
}

.carousel-item-thumb {
	// temp
	background-color: #eee;

	width: 100%;
	height: $carousel-item-height;
}

.carousel-item-info {
}

.carousel-item-header {
	margin-bottom: 18px;
}