.header {
	height: $header-normal-height;
}

.navbar {
	height: $navbar-height;
	&.is-transparent {
		.nav-item {
			color: white;
		}
	}
}

nav {
	text-align: right;
}

.nav-item {
	height: $navbar-height;
	line-height: $navbar-height;
	margin-left: $nav-item-spacing;
}

// When on homepage
body.home {
	.header {
		height: $header-large-height;
	}
}