.header {
	height: $header-normal-height;
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(#000, 0.62);
	}
}

.navbar {
	width: 100%;
	height: $navbar-height;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	&.is-transparent {
		.nav-item {
			color: white;
		}
	}
}

nav {
	text-align: right;
}

.nav-item {
	height: $navbar-height;
	line-height: $navbar-height;
	margin-left: $nav-item-spacing;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: $main-font-size;
	letter-spacing: .05rem;
	position: relative;
	&::after {
		content: "";
		width: 0;
		height: 3px;
		position: absolute;
		top: 25px;
		left: 50%;
		background-color: #fff;
	}
	&:hover {
	}
	&:not(.is-active) {
		opacity: $text-dimmed-opac;
	}
	&.is-active {
		&::after {
			width: 50%;
			left: 25%;
		}
	}
}

// When on homepage
body.home {
	.header {
		height: $header-large-height;
	}
}