.header {
	height: $header-normal-height;
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(#000, 0.62);
	}
}

.header-content {
	width: 100%;
	position: absolute;
	bottom: $header-padding;
	color: white;
	z-index: 100;
	.header-caption {
		opacity: $text-dimmed-opac;
		font-weight: 900;
	}
	.header-title {
		height: auto;
		$margin: 50px;
		margin-bottom: $margin;
		position: relative;
		&::after {
			$height: 3px;
			content: "";
			width: 45px;
			height: $height;
			position: absolute;
			top: 100%;
			left: 0;
			margin-top: ($margin / 2) - ($height / 2);
			background-color: #fff;
		}
	}
	.header-text {
		width: 80%;
		font-size: $p-large-font-size;
	}
	.btn {
		margin-top: 20px;
	}
}

.navbar {
	width: 100%;
	height: $navbar-height;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	&.is-transparent {
		.nav-item {
			color: white;
		}
	}
}

nav {
	text-align: right;
}

.nav-item {
	height: $navbar-height;
	line-height: $navbar-height;
	margin-left: $nav-item-spacing;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: .05rem;
	position: relative;
	&::after {
		@include transitionEase(.1s);
		content: "";
		width: 0;
		height: 3px;
		position: absolute;
		top: 25px;
		left: 50%;
		background-color: #fff;
	}
	&:not(.is-active) {
		opacity: $text-dimmed-opac;
	}
	&:hover,
	&.is-active {
		&::after {
			width: 30%;
			left: 35%;
		}
	}
}

// When on homepage
body.home {
	.header {
		height: $header-large-height;
	}
}