// Variables
$main-font:					'Brandon Grotesque', sans-serif;
$main-font-size:			13px;

$text-dimmed-opac:			.58;

// Import font(s)
@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/Brandon_reg.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/Brandon_med.otf');
	font-weight: medium;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/Brandon_black.otf');
	font-weight: 900;
}

body {
	font-family: $main-font;
	font-size: $main-font-size;
}

h1, h2, h3, h4, h5, h6 {
	// TODO
}

p {
	// TODO
}