// Variables
$main-font:					'Brandon Grotesque', sans-serif;

$main-font-size:			15px;
$h1-font-size:				36px;
$h2-font-size:				33px;
$h3-font-size:				29px;
$h4-font-size:				22px;
$h5-font-size:				18px;
$h6-font-size:				$main-font-size;

$p-font-size:				$main-font-size;
$p-large-font-size:			$h5-font-size;

$text-dimmed-opac:			$main-opac;

// Import font(s)
@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/Brandon_reg.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/Brandon_med.otf');
	font-weight: medium;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../fonts/Brandon_black.otf');
	font-weight: 900;
}

body {
	font-family: $main-font;
	font-size: $main-font-size;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

p {
	font-size: $p-font-size;
}