// Typography
/* TYPOGRAPHY RELATED VARIABLES ARE IN TYPOGRAPHY.SCSS */

$main-color:					#2D49D2;
$main-border-radius:			2px;
$main-opac:						.58;

$header-large-height:			100vh;
$header-normal-height:			530px;
$header-padding:				60px;

$navbar-height:					77px;
$nav-item-spacing:				50px;

$button-height:					35px;